# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
lihaxa/src/components/SignUpForm.jsx
.gitignore
pages.jsx
lihaxa/.gitignore
lihaxa/package-lock.json
lihaxa/package.json
lihaxa/README.md
lihaxa/public/favicon.ico
lihaxa/public/index.html
lihaxa/public/logo192.png
lihaxa/public/logo512.png
lihaxa/public/manifest.json
lihaxa/public/robots.txt
lihaxa/src/App.css
lihaxa/src/App.js
lihaxa/src/App.test.js
lihaxa/src/index.css
lihaxa/src/index.js
lihaxa/src/logo.svg
lihaxa/src/reportWebVitals.js
lihaxa/src/setupTests.js
lihaxa/src/components/Navbar.jsx
lihaxa/src/components/SignUpForm.jsx
lihaxa/src/Pages/Signup.jsx
.gitignore
pages.jsx
lihaxa/.gitignore
lihaxa/package-lock.json
lihaxa/package.json
lihaxa/README.md
lihaxa/public/favicon.ico
lihaxa/public/index.html
lihaxa/public/logo192.png
lihaxa/public/logo512.png
lihaxa/public/manifest.json
lihaxa/public/robots.txt
lihaxa/src/App.css
lihaxa/src/App.js
lihaxa/src/App.test.js
lihaxa/src/index.css
lihaxa/src/index.js
lihaxa/src/logo.svg
lihaxa/src/reportWebVitals.js
lihaxa/src/setupTests.js
lihaxa/src/components/Navbar.jsx
lihaxa/src/components/SignUpForm.jsx
lihaxa/src/Pages/Signup.jsx
