@import "tailwindcss";

@theme {
  --color-lihaxa-main: #3697D1;
  --color-lihaxa-green: #4CAF50;
  --color-lihaxa-darkteal: #2F4F4F;
  --color-lihaxa-white: #FFFFFF;
}


@keyframes pulse-slow {
  0%, 100% { opacity: 0.6; transform: scale(1); }
  50% { opacity: 1; transform: scale(1.1); }
}

@keyframes pulse-slower {
  0%, 100% { opacity: 0.4; transform: scale(1); }
  50% { opacity: 0.8; transform: scale(1.15); }
}

.animate-pulse-slow {
  animation: pulse-slow 6s ease-in-out infinite;
}

.animate-pulse-slower {
  animation: pulse-slower 8s ease-in-out infinite;
}
